<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE routes SYSTEM "routes_v1.dtd">
<routes>
    <startLinks>
        <link id="50" weight="70" />
        <link id="17" weight="30" />
    </startLinks>
    <endLinks>
        <link id="5" weight="70" />
        <link id="36" weight="30" />
    </endLinks>
</routes>